/* Ümumi tətbiq stili */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Trivia oyunu */
  .trivia-game {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .side-bar {
    width: 200px;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .game-area {
    width: 70%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .question-area {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .answer-button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 12px;
    margin: 5px 0;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .answer-button:hover {
    background-color: #d35400;
  }
  
  .answer-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  /* Düzgün cavab */
  .correct-answer {
    background-color: #27ae60;
  }
  
  /* Səhv cavab */
  .incorrect-answer {
    background-color: #e74c3c;
  }
  
  /* Prize ladder */
  .prize-ladder {
    margin-bottom: 20px;
  }
  
  .prize-ladder p {
    font-size: 18px;
    text-align: center;
  }
  
  .correct-prize {
    color: #27ae60;
  }
  
  .incorrect-prize {
    color: #e74c3c;
  }
  
  .prize {
    font-weight: bold;
  }
  
  .timer {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Kömək düymələri */
  .help-buttons button {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 180px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .help-buttons button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  /* Son ekran stili */
  .result-screen {
    text-align: center;
   
  }
.result-screen-h2{
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: xx-large;
 color: aqua;
}
.result-screen-p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: rgb(94, 7, 234);

}
  
  button {
    cursor: pointer;
    background-color: #2980b9;
    color: rgb(248, 248, 248);
    border: 1px solid #2980b9 ;
    
  }
  
  
  
  
  
  